@import url('./main.scss');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --size:40px
}


body {
    max-width: 1920px !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
        padding: 0 50px;
    }
}


// @media (min-width: 1400px) {

//     .container,
//     .container-lg,
//     .container-md,
//     .container-sm,
//     .container-xl,
//     .container-xxl {
//         max-width: 1320px;
//     }
// }

// @media (min-width: 768px) {

//     .container,
//     .container-md,
//     .container-sm {
//         max-width: 720px;
//     }
// }

// @media (min-width: 576px) {

//     .container,
//     .container-sm {
//         max-width: 540px;
//     }
// }

// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl,
// .container-xxl {
//     width: 100%;
//     padding-right: var(--bs-gutter-x, .75rem);
//     padding-left: var(--bs-gutter-x, .75rem);
//     margin-right: auto;
//     margin-left: auto;
// }

.topbar-bottom .hotline a {
    font-weight: 700;
    color: var(--topbar-color-text);
}

a {
    color: var(--shop-color-text);
    text-decoration: none;
    outline: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.topbar-bottom .contact {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
}

.topbar-bottom .contact:before {
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    top: 0;
    margin: auto;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
}

img,
svg {
    vertical-align: middle;
}



article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol {
    padding: 0 !important;
    margin: 0;
    list-style-type: none;
}


.swp-btn{
    position: absolute;
    top:50%;
    visibility: hidden;
    transition: top 0.5s ease;
    transform: translateY(-50%);
    z-index: 99;



    div{
        background: white;
        --var:40px;
        width: var(--var);
        height: var(--var);
        border-radius: 50%;
        z-index: 1;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .btn-thum{
        background: white;
        --var:20px;
        width: var(--var);
        height: var(--var);
        border-radius: 50%;
        z-index: 1;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
    }

}



.main-swiper {
    &:hover {
        .swp-btn {
            visibility: visible !important;
        }
    }
}
.price{
    color: #FF0000;
}
.bg-price{
    background-color: #FF0000;
}
@media (min-width: 1200px){
.product-gallery {
    width: 30%;
}}

//Smart Phone
@media screen and (max-width: 576px) {
    .product-gallery{

        position: static !important;

    }
    .list-product{
        overflow-x: scroll;
    }

    .widget-footer{

     padding: 1rem !important;
    }


}
//Tablet
@media screen and (max-width: 768px) {

}
//Big Tablet
@media screen and (max-width: 992px) {
    .topbar,.header-wrap-menu{
        display: none;
    }
    .widget-footer{

        padding: 1rem !important;
    }
    .policy-item{
        margin-bottom: 0.5rem;
    }

    .title_tabs__navigation ul li {
        padding: 0 12px;
        div{
            font-size: 14px !important;

        }
    }
    .filter-wrapper{
        display: none;
    }
    .wrap__product-details .product-gallery {
         position: static;
    }

    .bars{
        display: block !important;
    }

}
//Desktop
@media screen and (max-width: 1200px) {
    .bars{
        display: none;
    }

}
//Big Desktop
@media screen and (max-width: 1400px) {
    .bars{
        display: none;
    }
}

//Big Desktop
@media screen and (max-width: 1600px) {
    .bars{
        display: none;
    }
}
